.container {
    width: 960px;
    height:960px;
    display: flex;
    border-style: solid;
    border-color: rgb(18, 115, 194);
    flex-wrap: wrap;
    border-radius: 20px;
    }
.pixel {
    
    
    flex-grow: 1;
    flex-shrink: 1;
    width: 60px;
    height: 60px;
    
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

button {
    border-style: none;
    margin-top: 100px;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(18, 115, 194);
    color: white;
    font-size: xx-large;
}